@import '_ply.vars.scss';

#chord {
	position: relative;
	.ply-chord-container {
		padding-left:30px;
    .ply-icon-favorites {
      color: $ply-pink;
      .fa {
      	font-size: $ply-icon-xl;	
      }
      
    }
	}
	.ply-spinner-wrapper {
		min-height: 300px;
	}
}