@import '_ply.vars.scss';

.ply-avatar-menu {
	.login-email-container {
		height: 150px;	
	}
	.ply-login-btn {
		margin-top: 20px;
	}
	.ply-topnav-login-btn-icon {
		height: 50px;
		width: 50px;
	}
}
//Toolbar
.ply-topnav {
	position: fixed;
	top:0;
	z-index: 10;
	.ply-topnav-login {
		.ply-topnav-login-title {
			font-size: $LABEL-FONT-SIZE; 
		}
		.ply-topnav-login-btn {
			padding:0;
			width: 25px;
		}
		.ply-topnav-login-avatar {
			width: $AVATAR-DEMENSIONS;
			height: $AVATAR-DEMENSIONS;
			padding:5px;
			border-radius: 50%;
		}
	}
	ply-language-picker {
		img {
			width: 100%;
			height: 100%;
		}
	}
	.ply-logo {
		height: $PLY-LOGO-SIZE;
		width: $PLY-LOGO-SIZE;
		margin-right: 10px; 
	}
}
//End Toolbar