<md-input-container flex>
  <label translate="{{textInputLabel}}"></label>
  <input 	ng-required="textInputRequired || false"
  	type="{{textInputType || 'text'}}"
		ng-model="textInputModel"
		auto-direction />
</md-input-container>