<md-menu>
	<md-button
		aria-label="Open avatar menu"
		ng-click="$mdOpenMenu($event)">
			<div ng-if="!ctrl.login.isLoggedIn()">
				<span  translate=".LOGIN"></span>
				<ng-md-icon icon="keyboard_arrow_down" size="30">
				</ng-md-icon>
			</div>
			<div ng-if="ctrl.login.isLoggedIn()">
				<img ng-src="{{ctrl.setAvatarImage()}}" class="md-avatar ply-topnav-login-avatar" alt="No Image" />
				<ng-md-icon icon="keyboard_arrow_down" size="30">
				</ng-md-icon>
			</div>
	</md-button>
  <md-menu-content class="ply-avatar-menu"
  	ng-style="ctrl.setMenuStyles()">

    <div ng-if="!ctrl.login.isLoggedIn()" layout="row" layout-sm="column" layout-padding>
		  <div flex="1">
				<ply-text-input
		      text-input-label="'.EMAIL'"
		      text-input-model="ctrl.email">
		    </ply-text-input>
			</div>
			<div flex="1">
				<ply-text-input
					text-input-type="ctrl.passwordText"
		      text-input-label="'.PASSWORD'"
		      text-input-model="ctrl.password">
		    </ply-text-input>
			</div>
			<div flex="1" layout-align="center center" >
				<md-button
					class="md-raised md-hue-1 ply-login-btn"
				  ng-click="ctrl.loginEmail(ctrl.email, ctrl.password)"
				  aria-label="Login"
				  translate=".LOGIN">
				</md-button>
			</div>
		  <div
		  	flex="1"
		  	layout-align="center center" >
				<md-button class="md-primary Md-hue-1 "
				  aria-label="Change PASSWORD"
				  translate=".CHANGE_PASSWORD"
				  ng-click="ctrl.openChangePasswordModal($event)">
				</md-button>
				<md-button class="md-primary md-hue-1"
				  aria-label="Reset Password"
				  translate=".RESET_PASSWORD"
				  ng-click="ctrl.openResetPasswordModal($event)">
				</md-button>
			</div>

		</div>
		<div ng-if="!ctrl.login.isLoggedIn()" layout="row" layout-padding flex="1">
  		<span flex="20" class="ply-topnav-login-title" translate=".LOGIN_WITH"></span>
  		<span flex="1" layout-align="start start">
	  		<md-button class="md-icon-button ply-topnav-login-btn"
	  		            aria-label="Google"
	  		            ng-click="ctrl.loginSocial('google')">
	  		  <md-tooltip md-direction="down">Google</md-tooltip>
	  		  <img src="images/social-circle-google-plus.svg" class="ply-topnav-login-btn-icon" alt="Google Plus" />
	  		</md-button>
	  		<md-button  class="md-icon-button ply-topnav-login-btn"
	  		            aria-label="Facebook"
	  		            ng-click="ctrl.loginSocial('facebook')">
	  		  <md-tooltip md-direction="down" >Facebook</md-tooltip>
	  		    <img src="images/social-facebook-circle.svg" class="ply-topnav-login-btn-icon" alt="Facebook" />
	  		</md-button>
	
  		</span>
			
		</div>
		
		<div ng-if="ctrl.login.isLoggedIn()">
  		<md-button class="md-hue-1"
  		  ng-click="ctrl.login.logout()"
  		  aria-label="Logout"
  		  translate=".LOGOUT">
  		</md-button>
		</div>
  </md-menu-content>
</md-menu>
