body,
.tempoInput,
[bpm-error] {
  font-family: Calibri, Helvetica, Arial, sans serif;
}

[metronome] {
  position: relative;
  margin: 0 auto;
}

[metronome] .bodyUpper {
  background: url(http://victorblog.com/metronome/img/body_upper.jpg) no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 66%;
  position: relative;
}

[metronome] .bodyLower {
  background: url(http://victorblog.com/metronome/img/body_lower.jpg) no-repeat;
  background-size: contain;
  background-position: center top;
  height: 34%;
  position: relative;
}

[wand] {
  position: relative;
  top: 11.8%;
  left: -3%;
  margin: 0 auto;
  background: url(http://victorblog.com/metronome/img/wand.png?v3) no-repeat;
  background-size: contain;
  background-position: top center;
  height: 90.29%;
  
  /* Vendor prefix hell... CSS preprocessor to the rescue? */
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  
  transform: rotate(-0.6deg);
  -webkit-transform: rotate(-0.6deg);
  -moz-transform: rotate(-0.6deg);
  -o-transform: rotate(-0.6deg);
  -ms-transform: rotate(-0.6deg);
}

[wand].swingLeft {
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
}

[wand].swingRight {
  transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
}

[wand].swingToCenter {
  transition-timing-function: cubic-bezier(0.140, 0.815, 0.475, 1.380);
  -webkit-transition-timing-function: cubic-bezier(0.140, 0.815, 0.475, 1.380);
  -moz-transition-timing-function: cubic-bezier(0.140, 0.815, 0.475, 1.380);
  -o-transition-timing-function: cubic-bezier(0.140, 0.815, 0.475, 1.380);
}

[bob] {
  cursor: pointer !important;
  height: 22% !important;
  width: 100% !important;
  background: transparent url(http://victorblog.com/metronome/img/bob.png?v2) no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  left: 0 !important;
  
  transition: 0.5s bottom ease-out;
  -webkit-transition: 0.5s bottom ease-out;
  -moz-transition: 0.5s bottom ease-out;
  -o-transition: 0.5s bottom ease-out;
}

[bob-drag-region] {
  position: relative;
  width: 15%;
  height: 74%;
  top: 24.1%;
  margin: 0 auto;
}

.tempoLabel {
  text-indent: -10000px;
  background: url(http://victorblog.com/metronome/img/tempo_label.jpg) no-repeat;
  background-size: contain;
  width: 18.1%;
  height: 9%;
  position: absolute;
  top: 12.658%;
  left: 22.194%;
}

.tempoInput {
  background: url(http://victorblog.com/metronome/img/tempo_input.jpg) no-repeat left center;
  background-size: contain;
  width: 25.255%;
  height: 12.5%;
  position: absolute;
  top: 9.5%;
  left: 43.878%;
  border: 0;
  background-color: transparent;
  font-size: 1.3em;
  font-weight: bold;
  color: #2f1400;
  padding: 0 1.786%;
}

.tempoInput.ng-invalid,
[bpm-error] {
  color: #f90;
}

[bpm-error] {
  font-size: 8pt;
  position: absolute;
  left: 46%;
  top: 4.5%;
  height: 5.3%;
}

/* Webkit puts up/down arrows ("spinner") on input[type="number"] */
.tempoInput::-webkit-outer-spin-button,
.tempoInput::-webkit-inner-spin-button {
  display: none;
}

.toggleBtn {
  cursor: pointer;
  text-indent: -10000px;
  background-color: transparent;
  border: 0;
  background: url(http://victorblog.com/metronome/img/toggle_btn.jpg) no-repeat top left;
  background-size: contain;
  width: 51.53%;
  height: 30%;
  position: absolute;
  top: 27.848%;
  left: 21.939%;
}

.toggleBtn.depressed {
  background-image: url(http://victorblog.com/metronome/img/toggle_btn_depressed.jpg);
}

.credit {
  background: url(http://victorblog.com/metronome/img/credit.jpg) no-repeat top left;
  background-size: contain;
  width: 42.347%;
  height: 6%;
  text-indent: -10000px;
  position: absolute;
  bottom: 25.316%;
  left: 26.276%;
}