<section>
  <h1 hide>Chord Form</h1>
  <form name="builder" novalidate
        translate-namespace="builder">  
    <md-content class="md-padding md-whiteframe-z4 builder">
      <div class="ply-overlay" ng-if="!login.isLoggedIn()"
        translate-namespace=".invite">
        <section class="jumbotron ply-transparent text-center ply-white">
          <h1 translate=".TITLE"></h1>  
          <br/><br/>
          <h2 class="ply-white">
            <span translate=".CONTACT_US"></span>
            <a href="mailto:contact@playalong.io?subject=I Wanna Be a SuperUser!" target="_blank" translate=".HERE"></a>
          </h2>
          <h3 translate=".SUPERUSER"></h3>
        </section>
        

      </div>
      <section>
      <h2 hide>General Details</h2>
        <div layout="row" layout-padding>
          <md-input-container flex>
            <label translate=".ARTIST"></label>
            <input required name="artist" ng-model="chord.artist" auto-direction />
          </md-input-container>
          <span flex="10"></span>
          <md-input-container flex>
            <label translate=".TITLE"></label>
            <input required ng-model="chord.title" auto-direction />
          </md-input-container>
        </div>
        <div layout="row" layout-padding>
          <div flex="50">
            <ply-text-input
              text-input-label="'.YOUTUBE'"
              text-input-model="chord.youtubeLink">
            </ply-text-input>  
          </div>
          <div flex="50">
            <ply-text-input
              text-input-label="'.ARTIST_IMAGE'"
              text-input-model="chord.imagePath">
            </ply-text-input>  
          </div>
        </div>
        <div layout="row" layout-padding layout-wrap>
          <div flex="50">
            <md-switch class="ply-switch" ng-model="flags.isPreviewMode" aria-label="Switch 1" ng-change="handleSwitchModes()">
              {{'builder.PREVIEW' | translate}}
            </md-switch>
            <md-switch class="ply-switch" 
                ng-model="chord.approved" 
                aria-label="Approved" 
                ng-if="login.isSuperUser()" ng-change="handleApproveChange()">
                {{'builder.APPROVED' | translate}}
            </md-switch>
          </div>
          <div  flex="50"
                layout="row" layout-align="end center">
            <md-button  class="md-raised md-accent"
              type="submit"
              ng-disabled="createDisabled()"
              ng-click="createChordInDb()"
              ng-if="!$stateParams.id && !chordCreated"
              translate=".CREATE"
              aria-label="Create">
            </md-button>
            <md-button  class="md-primary md-hue-1"
              ng-if="$stateParams.id || chordCreated"
              ng-click="goToChordPage(chord)"
              aria-label="Go Live"
              translate=".GO_TO_CHORD">
            </md-button>
          </div>
        </div>
      </section>  
      
      <section layout="row" class="ply-editor-wrapper">
        <h2 hide>Chord Content</h2>
        <text-angular auto-direction auto-direction-scope-var="app.dir" ng-show="!flags.isPreviewMode" class="ply-editor"  flex ng-model="chord.content"></text-angular>
        <div  ng-show="flags.isPreviewMode" flex class="ply-chord-preview direction-initial"
              ng-bind-html="chord.content"></div>
      </section>
    </md-content>
  </form>
</section>

